$grid-gutter-width : 18px;

$padding-base-vertical : 6px;
$padding-base-horizontal : 12px;

$padding-large-vertical : 10px;
$padding-large-horizontal : 16px;

$padding-small-vertical : 5px;
$padding-small-horizontal : 10px;

$padding-xs-vertical : 1px;
$padding-xs-horizontal : 5px;

$table-cell-padding : 8px;
$table-horizontal-padding : 8px;
$table-vertical-padding : $padding-small-vertical;

$border-radius-small : 3px;
$border-radius-base : 4px;

$text-max-width : 600px;

/******** Inputs *********/

$input-border : #ccc;
$input-height : 34px;
$input-max-width : 400px;

/******** Buttons *********/

$btn-min-width : 34px;
$btn-height : 38px;

/******** Fonts *********/

$font-family-base : "latolight", "helvetica neue", "helvetica", "arial", "sans-serif";
$font-family-regular : "latoregular", "helvetica neue", "helvetica", "arial", "sans-serif";
$font-family-mobile : "helvetica neue", "helvetica", "arial", "sans-serif";

$font-size-small : 12px;
$font-size-base : 14px;
$font-size-large : 18px;

